* {
    margin: 0;
    padding: 0;
    font-family: "Bungee", sans-serif;
}

body {
    background: linear-gradient(135deg,
            #000000,
            #0a0a1f,
            #120022,
            #1a0033,
            #000000);
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    color: pink;
    font-family: "Plus Jakarta Sans", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.circle {
    border: 3px solid #7B85E6;
    border-radius: 2rem;
    /* margin: 2rem; */
    /* border-radius: 50%; */
    position: absolute;
    /* transform: rotateX(70deg); */
    animation: animate 1.5s ease-in-out alternate infinite;

}

.left-circle {
    left: 0%;
}

.right-circle {
    right: 0%;
}

.circle1 {
    height: 5rem;
    width: 5rem;
    animation-delay: 0s;
}

.circle2 {
    height: 6rem;
    width: 6rem;
    animation-delay: 0.1s;
}

.circle3 {
    height: 7rem;
    width: 7rem;
    animation-delay: 0.2s;
}

.circle4 {
    height: 8rem;
    width: 8rem;
    animation-delay: 0.3s;
}

.circle5 {
    height: 9rem;
    width: 9rem;
    animation-delay: 0.4s;
}

.circle6 {
    height: 10rem;
    width: 10rem;
    animation-delay: 0.5s;
}

.circle7 {
    height: 11rem;
    width: 11rem;
    animation-delay: 0.6s;
}

.circle8 {
    height: 12rem;
    width: 12rem;
    animation-delay: 0.7s;
}

.circle9 {
    height: 13rem;
    width: 13rem;
    animation-delay: 0.8s;
}

.circle10 {
    height: 14rem;
    width: 14rem;
    animation-delay: 0.9s;
}
.circle11 {
    height: 15rem;
    width: 15rem;
    animation-delay: 1s;
}
.circle12 {
    height: 16rem;
    width: 16rem;
    animation-delay: 1.1s;
}
.circle13 {
    height: 17rem;
    width: 17rem;
    animation-delay: 1.2s;
}
.circle14 {
    height: 18rem;
    width: 18rem;
    animation-delay: 1.3s;
}
.circle15 {
    height: 19rem;
    width: 19rem;
    animation-delay: 1.4s;
}
.circle16 {
    height: 20rem;
    width: 20rem;
    animation-delay: 1.5s;
}
.circle17 {
    height: 21rem;
    width: 21rem;
    animation-delay: 1.6s;
}
.circle18 {
    height: 22rem;
    width: 22rem;
    animation-delay: 1.7s;
}
.circle19 {
    height: 23rem;
    width: 23rem;
    animation-delay: 1.8s;
}
.circle20 {
    height: 24rem;
    width: 24rem;
    animation-delay: 1.9s;
}
.circle21 {
    height: 25rem;
    width: 25rem;
    animation-delay: 2s;
}
.circle22 {
    height: 26rem;
    width: 26rem;
    animation-delay: 2.1s;
}
.circle23 {
    height: 27rem;
    width: 27rem;
    animation-delay: 2.2s;
}
.circle24 {
    height: 28rem;
    width: 28rem;
    animation-delay: 2.3s;
}
.circle25 {
    height: 29rem;
    width: 29rem;
    animation-delay: 2.4s;
}

.logo {
    height: 14rem;
    margin-top: 3rem;
}

.short-name {
    font-size: 9rem;
    color: pink;
    margin: 0%;
}

.name {
    font-size: 2rem;
    position: relative;
    /* left: 7rem; */
    margin: 0%;
}

a{
    padding: 0.4rem;
    margin: 0.5rem;
    text-decoration: none;
    border: #ebebf1 2px solid;
    border-radius:3px 10px;
    position: relative;
    /* left: 7rem ; */
    background-color: #000000;
    color: #d6d7e2;
    transition: 0.15s ease-in-out;
}
a:hover{
    border-color: #646cff;
    color: #bec2e4;
    border-width: 4px ;
    transform: scale(1.2);
    margin-top: 1rem;
}

@keyframes animate {
    from {
        width: 0rem;
    }

    to {
        width: 15rem;
    }
}